%h1 Listing artists

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @artists.each do |artist|
    %tr
      %td= artist.name
      %td= link_to 'Show', artist
      %td= link_to 'Edit', edit_artist_path(artist)
      %td= link_to 'Destroy', artist, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Artist', new_artist_path
