%p#notice= notice

%p
  %b Title:
  = @album.title
%p
  %b Created:
  = @album.created
%p
  %b Released:
  = @album.released

= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
